
.fredoka-headers{
    font-family: "Fredoka", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.nunito-body{
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-style: normal;
}
h3{
    font-family: "Fredoka";
    font-size: 20px;
    color: #550212;
}
h2{
    font-family: "Fredoka";
    font-size: 24px;
    color: #550212;
}
h1{
    font-family: "Fredoka";
    font-size: 28px;
    color: #550212;

}
p{
    font-family: "Nunito", sans-serif;
    color: #550212;
}
a:link{
    font-family: "Nunito", sans-serif;
    color: #053225;
    text-decoration: none; 
}
a:visited{
    font-family: "Nunito", sans-serif;
    color: #550212;
}
a:hover{
    font-family: "Nunito", sans-serif;
    text-decoration: underline;
    color: #678055;
}

.button{
    background-color: #678055;
    border: none;
    color: #F9F4F5;
    padding: 12px, 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Fredoka", sans-serif;
}
.button:hover{
    background-color: #053225;
    color: #F9F4F5;
}
.button:focus{
    background-color: #053225;
    color: #F9F4F5;
}
img{
    border: 3px solid #678055;
}

.off-white-bg{
    background-color: #FFF7F5;
    padding: 3px;
}